.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 200px 0px 200px;
    gap: 100px;
    max-width: 100%;
}

.textbook-thumb {
    position: relative;
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    height: fit-content;
    box-shadow: 1px 1px 6px #000;
    cursor: pointer;
    background-size: cover;
}

.textbook-thumb::before {
    content: "Look inside \2935";
    position: absolute;
    transform: translate(0, -100%);
    top: 0;
    right: 0;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}

.textbook-thumb>img {
    width: 100%;
    height: auto;
}

#look-inside-popover.pclosed {
    transform: scale(0);
}

#look-inside-popover.popen {
    transform: scale(1);
}

#look-inside-popover {
    position: absolute;
    background: #00000033;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popover-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    background: #4b4e50;
    border-radius: 10px;
    padding: 20px;
}

.popover-content>embed {
    width: 600px;
    height: 800px;
    max-width: 80vw;
    max-height: 80vh;
}