.box {
    width: 459px;
    height: 66px;
    position: relative;
}

/* main */
.uploadcare--widget {
    background-image: url("https://raw.githubusercontent.com/jtepp/Alexander-Academy/main/home/resources/upload.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* button */
.uploadcare--widget__button,
.uploadcare--widget__button:focus,
.uploadcare--widget__button:hover {
    position: absolute;
    background-color: transparent;
    color: transparent;
    width: 100%;
    height: 100%;
}

/* button hover  */
.uploadcare--widget__button:focus,
.uploadcare--widget__button:hover {
    background: #50181A2E;
}


/* when dragging */
.uploadcare--widget__dragndrop-area {
    background: #50181A2E;
    color: transparent;
}

/* when drag over */
.uploadcare--widget.uploadcare--dragging .uploadcare--widget__dragndrop-area {
    color: transparent;
}

/* text */
.uploadcare--widget__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    font-size: 16px;
    width: 450px;
    line-height: 50px;
    background-color: white;
}

/* progress */
.uploadcare--progress_type_canvas {
    color: #50181A;
}

.uploadcare--progress {
    position: absolute;
}

/* link */
.uploadcare--link,
.uploadcare--link:visited,
.uploadcare--link:active,
.uploadcare--link:focus,
.uploadcare--link:hover,
.uploadcare--menu__item:focus,
.uploadcare--menu__item:hover {
    color: #50181A;
}

/* menu buttons */
.uploadcare--button_primary,
.uploadcare--button:focus,
.uploadcare--button:hover,
.uploadcare--file-source_all {
    border-color: #50181A;
    color: #50181A;
}

.uploadcare--button_primary {
    background-color: #fff;
}

.uploadcare--button_primary:focus,
.uploadcare--button_primary:hover,
.uploadcare--file-source_all:focus,
.uploadcare--file-source_all:hover {
    background-color: #50181A2E;
}