#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.vertcent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

graph {
    position: relative;
    display: block;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
}

#gr1 {
    width: 400px;
    height: 400px;
}

.graph-data {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

graph::before {
    content: attr(base);
    position: absolute;
    bottom: 0;
    left: -10px;
    transform: translate(-100%, 50%);
}

graph::after {
    content: attr(top);
    position: absolute;
    top: 0;
    left: -10px;
    transform: translate(-100%, -50%);
}

.point-cont {
    position: relative;
    height: 100%;
}

.point-range {
    position: absolute;
    width: 1px;
    height: 0px;
    transition: height ease-in-out 1000ms;
    left: 50%;
    /* background-color: #0f0; */
}

.point {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    left: 0;
}

.lower {
    background: #f00;
    bottom: 0;
    transform: translate(-50%, 50%);
    z-index: 3;
}

.higher {
    background: #00f;
    z-index: 2;
    top: 0;
    transform: translate(-50%, -50%);
}

.point-cont:hover .point::after {
    content: attr(value);
    position: absolute;
    left: 10px;
    top: 0px;
    transform: translate(10px, -25%);
    background: #e3e3e3;
    font-size: 14px;
    line-height: 14px;
    padding: 4px 2px 0 2px;
    color: #333;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.point-range::after {
    content: attr(improvement);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(15px, -50%);
    /* transform: translate(25%, -25%); */
    background: #0f0;
    font-size: 14px;
    line-height: 14px;
    padding: 4px 2px 0 2px;
    color: #333;
    border-radius: 4px;
    opacity: 0;
    transition: opacity ease-in-out 1000ms;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);

}

.opened .point-range::after {
    opacity: 1;
}

.point-cont.avg {
    z-index: 0;
    background: rgb(220, 220, 220);
}

.point-cont.avg::after {
    content: "Average";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, calc(100% + 10px));
}

.graph-legend {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(-100%, -50%);
    border-radius: 5px;
    background-color: #e3e3e3;
    padding: 4px 6px 0 6px;
    gap: 4px;
}

.graph-legend-item {
    position: relative;
    margin-left: 14px;
}

.graph-legend-item::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0;
    top: 0%;
    transform: translate(-14px, 25%);
}

#starting-score::before {
    background-color: #f00;
}

#ending-score::before {
    background-color: #00f;
}

#improvement-score::before {
    background-color: #0f0;
    border-radius: 1px;
}